{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'css/styleform.css' %}" rel="stylesheet">
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="register-form" id="new_user_form" method="post">
        {% csrf_token %}
      <input type="text" placeholder="name" id="name"/>
      <input type="password" placeholder="password" id="password"/>
      <input type="email" placeholder="email address" id="email"/>
      <p class="message" id="message_error2"></p>
      <button type="submit">Зарегистрироваться</button>
      <p class="message">Уже есть аккаунт? <a href="#">Войти</a></p>
    </form>
    <form class="login-form" id="login_in" method="post">
        {% csrf_token %}
      <input type="text" placeholder="username" name="username" id="id_username"/>
      <input type="password" placeholder="password" name="password" id="id_password"/>
        <p class="message" id="message_error"></p>
      <button id="login_btn" type="submit">Войти</button>
      <p class="message">У вас нет аккаунта? <a href="#">Создать аккаунт</a></p>
    </form>
  </div>
</div>
</body>
<script>


</script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static 'js/loginScript.js' %}"></script>
    <script src="{% static 'js/ajax.js'%}"></script>
</html>