{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'css/styleform.css' %}" rel="stylesheet">
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post" action="/sent/">
        {% csrf_token %}
        <p class="message">Добро пожаловать {{ username }} <a href="/logout/">(Выйти из аккаунта)</a></p>
      <input type="text" placeholder="Subject" name="subject"/>
      <input type="email" placeholder="email" name="email"/>
      <textarea type="text" placeholder="Message" name="message" class="textarea"></textarea>
        <p class="message">{{ status }}</p>
      <button type="submit">Отправить</button>
    </form>
  </div>
</div>
</body>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</html>